body{
    text-align: center; 
    background-color:grey;

}

.formular{
    margin: auto;
    display: inline-block;
    text-align: left;    
    border: solid 1px;
    background-color: khaki;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}
h1{
    text-align: center; 

}
.login{
    text-align: center; 
}

